body {
    margin: 0;
}
  
.container{
    width: 90%;
    margin: 0 auto;
}
  
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background: #ffffff00;
    border-radius: 6px;
    border: 3px solid #f0f0f0;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 6px;
}
.webgl-background_container__Ojc1v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-repeat: repeat;
}
canvas {
    width: 100%;
    height: 100%;
}


.webgl-background_container__Ojc1v {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100lvh;
    z-index: -1
}


.container-hero{
    width: 70%;
}

.hero{
    justify-items: center;
}

.hero h1 {
    white-space: pre-line; 
    font-size: 200px; 
    font-family: "Cactus Classical Serif", serif;
    line-height: 0.95; 
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 0;
}

.hero span {
    margin-left: 400px; /* Сохраняем оригинальный отступ */
}

.hero p{
    font-family: "Roboto", serif;
    font-size: 20px;
}

#hero {
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center;
}



@media (max-width: 1265px){
    .hero{
        justify-items: normal;
    }
    .container-hero{
        width: 90%;
    }
    .hero h1 {
        font-size: 18vw;
    }

    .hero span {
        margin-left: 0; /* Сохраняем оригинальный отступ */
    }
}



@media screen and (min-width: 1265px) and (max-width: 1500px){
        .container-hero{
            width: 90%;
        }
        .hero{
            justify-items: normal;
        }
        .hero h1 {
            font-size: 190px;
        }
        .hero span {
            margin-left: 200px; /* Сохраняем оригинальный отступ */
        }
        .subtitle{
            display: flex;
        }
        .subtitle p{
            margin-top: 65px;
            margin-left: 30px;
            width: 310px;
        }

}
@media screen and (min-width: 1500px){
    .container-hero{
        width: 60%;
    }
    .hero h1 {
        margin-left: -200px;
    }
    .subtitle{
        display: flex;
    }

    .subtitle p{
        margin-top: 65px;
        margin-left: 30px;
        width: 310px;
    }

}

